@model DomDeMaioHomePage.Models.Resume


@{
    ViewBag.Title = "Dom DeMaio Resume";
}
<div>
    <h3 id="professional">Professional Experience</h3>
    @foreach (var job in @Model.ProfessionalExperience.Jobs)
    {
        <div class="row-fluid">
            <div class="span8">
                <h5 class="text-info">
                    <em>
                        @job.Title - @job.Company -  @job.Address.City@if (!string.IsNullOrWhiteSpace(@job.Address.State))
                        {<text>, @job.Address.State </text>}
                    </em>
                </h5>
            </div>
            <div class="span4">
                <h5 class="text-right">
                    <span class="text-info">
                        @job.StartDate.Value.ToString("MM/yyyy") - @if (job.EndDate.HasValue)
                        {  @job.EndDate.Value.ToString("MM/yyyy");
                        }
                        else
                        {<span>Present</span>}
                    </span>
                </h5>
            </div>
        </div>
        if (!string.IsNullOrWhiteSpace(job.Description))
        {
            <p class="text-warning"><small>@job.Description</small></p>
        }
        if (job.RotationalJobs != null && job.RotationalJobs.Count > 0)
        {
            foreach (var rotation in job.RotationalJobs)
            {
                <small class="text-warning">@rotation.Division <text> - </text> @rotation.JobTitle</small>
                    <ul>
                        @foreach(var contribution in rotation.Contributions)
                    {
                            <li><small> @contribution.Description</small></li>
                    }
                    </ul>
                    }
                    }
                    if (job.Contributions != null && job.Contributions.Count > 0)
                    {
                    <ul class="">
                        @foreach (var contribution in @job.Contributions)
                {
                            <li>
                                <small> @contribution.Description</small>
                                @if (!string.IsNullOrWhiteSpace(@contribution.Benefit))
                        {
                                    <ul>
                                        <li>
                                            <small>@contribution.Benefit</small>
                                        </li>
                                    </ul>
                        }
                            </li>

                }
                    </ul>
                    }
                    }
                    <hr />
                    <h3 id="proficiencies">
                        Proficiencies, Training, &amp; Awards
                    </h3>
                    <h4 class="text-info">Proficiencies</h4>
                    <div class="row-fluid">
                        <div class="span2">
                            <small>Software</small>
                        </div>
                        <div class="span10">
                            @foreach (var skill in @Model.ProfessionalExperience.Skills)
            {
                if (@skill.Type.Equals("Software"))
                {
                    <span><small>&bull; @skill.Description</small></span>

                }
            }
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span2">
                            <small>Technology</small>
                        </div>
                        <div class="span10">
                            @foreach (var skill in @Model.ProfessionalExperience.Skills)
            {
                if (@skill.Type.Equals("Technology"))
                {
                    <span><small>&bull; @skill.Description</small></span>

                }
            }
                        </div>
                    </div>

                    <div class="row-fluid">

                        <div class="span2">
                            <small>Languages</small>
                        </div>
                        <div class="span10">
                            @foreach (var skill in @Model.ProfessionalExperience.Skills)
            {
                if (@skill.Type.Equals("Language"))
                {
                    <span><small>&bull; @skill.Description</small></span>

                }
            }
                        </div>
                    </div>
                    <h4 class="text-info">Training</h4>
                    <ul>
                        @foreach (var trainingClass in @Model.ProfessionalExperience.Trainings)
        {
                            <li><small>@trainingClass.Name - @trainingClass.Description</small></li>
        }
                    </ul>


                    <h4 class="text-info">Recognition</h4>
                    <ul>
                        @foreach (var award in @Model.ProfessionalExperience.Awards)
        {
                            <li><small>@award.Description</small></li>

        }
                    </ul>
                    <hr />
                    <h3 id="education">Education</h3>
                    @foreach (var college in Model.Education.Colleges)
    {
                        <ul>
                            <li><small>@college.Name</small></li>
                            <li><small>Graduation Date - @college.GraduationDate</small></li>
                            <li><small>Degree - @college.Degree in @college.Major</small></li>
                            <li><small>Minor - @college.Minor</small></li>
                            <li><small>GPA - Major:@college.MajorGpa - Cumulative:@college.CumulativeGpa</small></li>
                        </ul>
    }

</div>